body{
    padding: 10;
    margin: 0;
    height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px auto 150px;
  grid-gap: 10px;
  height: 100%;
  width: 100%;
}

.header {
  background: rgb(84, 66, 102);
}
.main {
  background: rgb(255, 34, 111);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto ;
  grid-gap: 5px;
  
}
.footer {
  background: rgb(7, 7, 7);
}
.section {
  background: rgb(110, 0, 221);
  grid-gap: 10px;
}
